/* body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

button {
  border-radius: 6px;
  border: none;
  padding: 8px 14px;
  background-color: #4a86c5;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #3b7ddd;
} */
